@charset "utf-8";

// FONTS
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,900");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url('http://fonts.googleapis.com/css?family=Vidaloka|Yeseva+One|Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$title-font-family: "Lato", Helvetica, Arial, sans-serif;

// Update this line
// $base-font-family: "Lato", Helvetica, Arial, sans-serif;
@font-face {
    font-family: HipstelveticaBold;
    src: url(/fonts/HipstelveticaBold.ttf);
    font-weight: bold;
}

// Our variables
$base-font-family: "Poppins", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$logo-font-family: "HipstelveticaBold";
$base-header-font-family: "Yeseva One";
$message-font-family: "Josefin Sans";
$link-font-family: "Lato";
// $base-header-font-family: "Abril Fatface";

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$cream:        #fffbf9;
$pink-bright:  #d81159;
$pink-pale:    #fff6f2;
$mint:         #9ffff5;
$mint-pale:    #f1fffa;
$blackish:     #000505;
$grey-dark:    #08090a;


// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$on-mobile:        500px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        // "syntax-highlighting",
        "light-solar-syntax-highlighting",
        "font-awesome.min.scss",
        "theme"
;
